@page "/duties"
@inject HttpClient Http
@using SchoolDutyManager.Models

@code {
    private List<Duty> duties;

    protected override async Task OnInitializedAsync()
    {
        duties = await Http.GetFromJsonAsync<List<Duty>>("api/duties");
    }
}

<h3>Duties</h3>

<ul>
    @foreach (var duty in duties)
    {
        <li>@duty.Type - @duty.Hours</li>
    }
</ul>
